.container {
  height: 50px;
  width: 100%;
  background-color: #fff;
  line-height: 50px;
  background: linear-gradient(90deg, #03cfb1 0%, #02adb1 100%);
}
.back {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #fff;
  font-size: 18px;
}
.title {
  color: #fff;
  font-size: 18px;
  text-align: center;
}
