:root:root {
  --adm-color-primary: #16B297;
}
:root {
  --common-background-color: #F8F9FB;
  --common-warning-color: #ff6a00;
  --common-gray-color: #828282;
}
a {
  text-decoration: none;
  color: inherit;
}